{% extends "layouts/base.html" %}
{% set project = "Home" %}
<link rel="icon" type="image/x-icon" href="static/assets/favicon.ico">
{% block body %}
    <!-- Start of body content specific to page -->
    <div id="background" style="background-color: rgb(23, 20, 174); color:white"class="px-5 py-5 mx-auto">
        <h1 style="color:yellow" ><strong>Emaad Mir's Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div style="background-color: rgb(19, 241, 245); color:black" class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/aboutmeee.png') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who Am I?</h5>
                    <p class="card-text">
                        <ol>
                            <li>My name is Emaad Mir, and I am a sophomore at Del Norte High School</li>
                            <li>I have one older brother who has recently started his first year at UCSD!</li>
                            <li>I am aspiring to pursue a career in computer science despite the limited experience that I have</li>
                            <li>I hope to one day get a dog :)</li>
                            <li>I like to play squash and spend time with my friends and family</li>
                        </ol>
                    </p>
                    <button style="background-color: darkolivegreen" onclick="document.getElementById('background').style.backgroundColor='darkolivegreen'">Click here to change the background to dark olive green!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div style="background-color: rgb(255, 162, 0); color:black" class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/goal.jpg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What are my goals for the future?</h5>
                    <p class="card-text">
                        <ol>
                            <li>I hope to improve my skills in the field of web development as well as be able to write code more spontaneously</li>
                            <li>I hope that even after I complete this course that I will continue to make more personal projects</li>
                            <li>I want to do well in all APs (including CSP of course) that I am both taking this year and APs I plan on taking in the years after this</li>
                        </ol>
                    </p>
                    <button style="background-color: purple;" onclick="document.getElementById('background').style.backgroundColor='purple'">Click here to change the background to purple!</a>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div style="background-color: yellowgreen; color:black" class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/lol.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What are my favorite hobbies?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Sleeping</li>
                            <li>Playing basketball</li>
                            <li>Playing squash</li>
                            <li>Walking along the beach</li>
                            <li>Spending time with friends and family</li>
                        </ol>
                    </p>
                    <button style="background-color: red;" onclick="document.getElementById('background').style.backgroundColor='red'">Click here to change the background to red!</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}